body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(37, 36, 35, 1);
}

.animation-wrapper {
  width: 50%;
  padding-bottom: 50%;
}

.sphere-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 580px;
  height: 580px;
  margin: -290px 0 0 -290px;
}

.sphere path {
  fill: url(#sphereGradient);
  stroke-width: 1px;
  stroke: rgba(80, 80, 80, 0.35);
  backface-visibility: hidden;
}

@media (min-width: 500px) {
  .sphere path {
    stroke-width: 0.4px;
  }
}

.title{
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 8em;  
}


.title-h2 pre{
  height: 30px;
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
  color: rgba(231, 12, 222, 1);
  text-align: center;
  margin-top: 1em;
  }

  
